<div id="session-new">
  <section id="session-new-left">
    <div id="login-logo-div">
      <h1 id="login-logo">.concertBox log in</h1>
    </div>
    <div id="session-new-form">
      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, 'Email' %>
      <%= f.text_field :email %>

      <%= f.label :password, 'Password' %>
      <%= f.password_field :password %>

      <%= f.submit "Log In"%>
      <% end %>
      <div class="">
        Need an account? <%= link_to "Create Account", new_user_path %>
      </div>
    </div>
  </section>
  <section>
    <div id="session-new-right">

    </div>
  </section>
</div>
