<div id="session-new">
  <section id="session-new-left">
    <div>
      <h1>.ideaBox LOG IN</h1>
    </div>
    <div id="session-new-form">
      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.text_field :password %>

      <%= f.submit "Log In"%>
      <% end %>
    </div>
    <div>
      Need an account? <%= link_to "Create Account", new_user_path %>
    </div>
  </section>
  <section>
    <div id="session-new-right">

    </div>
  </section>
</div>
