<div id="session-new-page">
  <section id="session-new-box">
    <div id="login-logo-div">
      <p class="login-logo-text">concertBox</p>
    </div>
    <div id="session-new-form">
      <%= form_for(:session, url: login_path) do |f| %>
        <section class="session-form-elements">
          <%= f.label :email, 'Email' %>
          <%= f.text_field :email %>
        </section>
        <section class="session-form-elements">
          <%= f.label :password, 'Password' %>
          <%= f.password_field :password %>
        </section>
        <section id="session-form-button">
          <%= f.submit "LOG IN"%>
        </section>
      <% end %>
      <div class="session-form-elements">
      </div>
      <div class="session-form-elements">
        <p>New to concertBox?</p>
        <%= link_to "Create an Account", new_user_path %>
      </div>
    </div>
  </section>
</div>
