<div class="new-idea">
  <%= form_for [current_user, @idea] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, Category.all, :id, :classification ) %>

    <%= f.label :image_ids, "Select an Image" %>
    <%= f.collection_select(:image_ids, Image.all, :id, :name) %>

    <%= f.submit %>

  <% end %>
</div>
