<div class="">
  <%= form_for [@user, @idea] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.label :category %>
    <%= f.collection_select(:category, Category.all, :id, :type ) %>

    <%= f.submit %>
    
  <% end %>
</div>
