<div class="">
  <%= form_for  do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>

    <%= f.label :category %>
    <%= f.collection_select(:category, Category.all, :id, ) %>
    <%= f.label email %
  <% end %>
</div>
