<div class="new-recipe">
  <%= form_for [current_user, @recipe] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body, required: true %>

    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, @categories, :id, :classification ) %>

    <%= f.label :ingredient_ids, "Diet Type" %>
    <%= f.collection_select(:ingredient_ids, @ingredients, :id, :body, {}, multiple: true ) %>

    <%= f.label :image, "Select an Image" %>
    <%= f.collection_select(:image_ids, @images, :id, :name) %>
    <%= link_to "View Images", images_path %>

    <%= f.submit %>

  <% end %>
</div>
