<section class="show">
  <div class="">
    <h2><%= current_user.name %>'s Idea Box</h2>
  </div>
  <div class="nav">
    <%= render partial: "nav" %>
  </div>
  <table class="table">
    <tr>
      <th>Idea</th>
      <th>Category</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Images</th>
      <th></th>
      <th></th>
    </tr>
    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.body %></td>
      <td><%= idea.category.classification %></td>
      <td><%= idea.created_date_and_time %></td>
      <td><%= idea.updated_date_and_time %></td>
      <td><% idea.images.each do |image| %>
        <%= image.name %>
        <%= image_tag image.image.url unless image.image.url.nil?  %>
        <% end %></td>
        <td><%= link_to "Edit", edit_user_idea_path(current_user, idea) %></td>
        <td><%= link_to "Delete", user_idea_path(current_user, idea), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </table>
</section>
