<section class="show">
  <div id="header">
    <section class="user-show-header">
      <section id="show-logo">
        <p>concertBox</p>
      </section>
      <section id="nav-link">
        <%= render partial: "nav" %>
      </section>
    </section>
    <section class="sort-bar">
      <%= form_for(@search, url: user_path, method: :get) do |f| %>
      <%= f.label :genre, "Sort Concerts by Genre" %>
      <%= f.select :genre, genres_collection, include_blank: "All Genres" %>

      <%= f.label :purchased, "Tickets Purchased?" %>
      <%= f.select :purchased, [["Yes", true], ["No", false]], include_blank: "---" %>

      <%= f.label :name_like, "Search Concerts by Name" %>
      <%= f.text_field :name_like %>

      <%= f.submit "Search" %>
      <% end %>
    </section>
  </div>
  <div class="concert-card-parent">
    <% if @concerts.any?%>
      <% @concerts.each do |concert| %>
        <%= link_to user_concert_path(current_user, concert) do %>
          <section class="concert-card-child">
            <div id="genre">
              <%= concert.genre.classification %>
            </div>
            <div class="concert-image">
              <% concert.images.each do |image| %>
              <%= image_tag image.image.url unless image.image.url.nil?  %>
              <% end %>
            </div>
            <div class="concert-name">
              <%= concert.name %>
              <p>in</p>
              <%= concert.time_until %>
            </div>
          </section>
        <% end %>
      <% end %>
    <% else %>
      <p id="no-matches">No matches.</p>
    <% end %>
  </div>
  <div class="apple_pagination">
    <%= will_paginate @concerts %>
  </div>
</section>
