<section class="show">
  <div class="user-show-header">
    <section id="show-logo">
      <p><%= current_user.name %>'s Concert Box</p>
    </section>
    <section id="nav-link">
      <%= render partial: "nav" %>
    </section>
  </div>
  <div class="sort-bar">
    <%= form_for(@search, url: user_path, method: :get) do |f| %>
      <%= f.label :category, "Sort Concerts by Genre" %>
      <%= f.select :category, categories_collection, include_blank: "All Genres" %>

      <%= f.label :purchased %>
      <%= f.select :purchased, [["Yes", true], ["No", false]], include_blank: "---" %>

      <%= f.label :name_like, "Search Concerts by Name" %>
      <%= f.text_field :name_like %>

      <%= f.submit "Search" %>
    <% end %>
  </div>
  <div class="concert-card-parent">
    <% if @concerts.any?%>
      <% @concerts.each do |concert| %>
        <%= link_to user_concert_path(current_user, concert) do %>
          <section class="concert-card-child">
            <div class="">
              <%= concert.category.classification %>
            </div>
            <!-- <%= concert.time_ago %> -->
            <div class="concert-image">
              <% concert.images.each do |image| %>
              <%= image_tag image.image.url unless image.image.url.nil?  %>
              <% end %>
            </div>
            <div class="concert-name">
              <%= concert.name %>
            </div>
            <!-- <%= link_to "Edit", edit_user_concert_path(current_user, concert) %>
            <%= link_to "Delete", user_concert_path(current_user, concert), method: :delete %> -->
          </section>
        <% end %>
      <% end %>
    <% else %>
      <p>No matches.</p>
    <% end %>
  </div>
  <div id="pagination">
    <%= will_paginate @concerts %>
  </div>
</section>
