<div class="">
  <h2><%= @user.name %>'s Idea Box</h2>
</div>
<div class="">
  <%= @user.email %>
</div>
<div class="">
  <%= link_to "Ideas Index", user_ideas_path(@user) %>
</div>
<div class="">
  <%= link_to "Create An Idea", new_user_idea_path(@user) %>
</div>
<div class="">
  <%= link_to "Admin Dashboard", admin_dashboard_path if current_user && current_user.admin? %>
</div>
