<div class="">
  <h2><%= @user.name %>'s Idea Box</h2>
</div>
<div class="">
  <%= @user.email %>
</div>
<div class="">
  <%= link_to "Ideas Index", user_ideas_path(@user) %>
</div>
<div class="">
  <table>
    <tr>
      <th>Idea</th>
      <th>Category</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
      <th></th>
    </tr>
    <% @ideas.each do |idea| %>
    <tr>
      <td><%= idea.body %></td>
      <td><%= idea.category.classification %></td>
      <td><%= idea.created_at %></td>
      <td><%= idea.updated_at %></td>
      <td><%= link_to "Edit", edit_user_idea_path(current_user, idea) %></td>
      <td><%= link_to "Delete", user_idea_path(current_user, idea), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="">
  <%= link_to "Create An Idea", new_user_idea_path(current_user) %>
</div>
<div class="">
  <%= link_to "Admin Dashboard", admin_dashboard_path if current_admin? %>
</div>
<div class="">
  <%= link_to "Log Out", logout_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } if logged_in? %>
</div>
