<section class="show">
  <div class="user-show-header">
    <p><%= current_user.name %>'s Recipe Box</p>
  </div>
  <div class="nav">
    <%= render partial: "nav" %>
  </div>
  <div class="sort-bar">
    <%= form_for(@search, url: user_path, method: :get) do |f| %>
      <%= f.label :category, "Sort Recipes by Meal" %>
      <%= f.select :category, categories_collection, include_blank: true %>

      <%= f.label :body_like, "Search Recipes by Name" %>
      <%= f.text_field :body_like %>

      <%= f.submit "Search" %>
    <% end %>
  </div>
  <div class="">
    <% if @recipes.any?%>
      <% @recipes.each do |recipe| %>
        <section class="goal-card">
          <%= recipe.name %>
          <%= recipe.category.classification %>
          <%= recipe.time_ago %>
          <% recipe.images.each do |image| %>
            <%= image_tag image.image.url unless image.image.url.nil?  %>
          <% end %>
          <%= link_to "Edit", edit_user_recipe_path(current_user, recipe) %>
          <%= link_to "Delete", user_recipe_path(current_user, recipe), method: :delete %>
        </section>
      <% end %>
    <% else %>
      <p>No matches.</p>
    <% end %>
    <%= will_paginate @recipes %>
  </div>
</section>
