<div class="">
  <%= form_for [:admin, @image] do |f| %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>
  <% end %>
</div>
