<div id="image-box">
  <%= form_for [:admin, @image] do |f| %>
  <section class="image-boxes">
    <%= f.label :image, "Choose Image" %>
    <%= f.file_field :image %>
  </section>
  <section class="image-boxes">
    <%= f.label :name, "Image Name" %>
    <%= f.text_field :name %>
  </section>
  <section class="image-boxes-button">
    <%= f.submit "Upload" %>
  </section>
  <% end %>
</div>
