<div id="dashboard-header">
  Admin Dashboard
</div>
<div id="dashboard-backlink">
  <%= link_to "Back", user_path(current_user) %>
</div>
<div class="genres">
  <section>
    Genres Index
  </section>
  <section>
    <ul><% @genres.each do |genre| %>
    <li><%= genre.classification %>
    <%= link_to "Delete", admin_genre_path(genre), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %></ul>
    <%= will_paginate @genres %>
  </section>
  <section>
    <%= link_to "Create Genre", new_admin_genre_path %>
  </section>
</div>
<div class="">
  <section>
    <h3>Artist Image Index</h3>
  </section>
    <% @images.each do |image| %>
      <%= image_tag image.image.thumb.url unless image.image.thumb.url.nil? %></td>
    <% end %>
    <%= will_paginate @images %>
  <%= link_to "Create Image", new_admin_image_path %>
</div>
