<div class="">
  <h1>Admin Dashboard</h1>
</div>
<div class="">
  <section>
    <h3>Categories Index</h3>
  </section>
  <section class="category">
    <% @categories.each do |category| %>
    <ul>
      <li><%= category.classification %><%= link_to "Delete", admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
    <% end %>
  </section>
  <section>
    <%= link_to "Create Category", new_admin_category_path %>
  </section>
</div>
<div class="">
  <section>
    <h3>Images Index</h3>
  </section>
  <section>
    <% @images.each do |image| %>
    <ul>
      <p><%= image_tag image.image.url unless image.image.url.nil? %></p>

    </ul>
    <% end %>
  </section>
  <section>
    <%= link_to "Create Image", new_admin_image_path %>
  </section>
</div>
