<div class="">
  <h1>Admin Dashboard</h1>
</div>
<div class="">
  <section>
    <h3>Genres Index</h3>
  </section>
  <section>
    <ul><% @categories.each do |category| %>
    <li><%= category.classification %>
    <%= link_to "Delete", admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %></ul>
  </section>
  <section>
    <%= link_to "Create Genre", new_admin_category_path %>
  </section>
</div>
<div class="">
  <section>
    <h3>Artist Image Index</h3>
  </section>
    <% @images.each do |image| %>
      <%= image_tag image.image.thumb.url unless image.image.thumb.url.nil? %></td>
    <% end %>
  <%= link_to "Create Image", new_admin_image_path %>
</div>
